lightGray = #cbcbcb
darkGray = #3c3c3c
fontFamily = PT Serif
fontFamilyS = PT Sans Narrow

body{
	text-align: center;
	font-family: fontFamily;
	color: darkGray;
	max-width: 1640px;
	background-color: white;
	padding: 40px;
}
p, h1, h3{
	margin: 2px 0;
}
.g-link{
	color: white;
	text-decoration: none;
	margin: 0 8px;
	&:hover{
		color: #fca74b;
	}
}
.g-inline{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.g-description{
	font-size: 13px;
  	text-transform: uppercase;
  	font-family: fontFamilyS;
}
.g-float_right{
	float: right;
}
.g-float_left{
	float: left;
}
.header__shapeBlock{
	max-height: 60px;
	&__nextHouse{
		font-size: 13px;
		font-style: italic;
		line-height: 1.85;
	}
}
.title{
	&__name{
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		margin: 0 25.9px;
	}
	&__Rectangle-19{
		width: 9px;
  		height: 9px;
  		-webkit-transform: rotate(45deg);
  		transform: rotate(45deg);
  		background-color: darkGray;
	}
	&__rectangle{
		width: 50px;
  		height: 1px;
  		background-color: darkGray;
	}
}
.angle{
	&_1{
	  	transform: translateX(5px);
	}
	&_2{
	  	transform: translateX(-5px);
	}
}
/*Изображение*/
.header__container{
	position: relative;
	color: white;
	&-background{
		max-width: 1560px;
		width: 100%;
		object-fit: contain;
	}
	&__h1{
		font-size: 28px;
  		font-weight: bold;
  		font-style: italic;
	}
	&__sale{
		font-size: 28px;
  		font-weight: bold;
  		font-style: italic
	}
	&__nav{
		position: absolute;
		bottom: 0%;
    	left: 18%;
	}
}
.inner__div{
	&-h1{
		position: absolute;
    	top: 20%;
    	left: 37.8%;
	}
	&-p{
		position: absolute;
		top:50%;
		left: 42%;
	}
}
