lightGray = #cbcbcb
darkGray = #3c3c3c
freshOrange = #fca74b
bloodyRed = #d0011b;
fontFamily = PT Serif
fontFamilyS = PT Sans Narrow

body{
	text-align: center;
	font-family: fontFamily;
	color: darkGray;
	max-width: 1640px;
	height: 100%;
	background-color: white;
	padding: 40px;
}
.test{
  position: absolute;
  width: 1640px;
  height: auto;
}
p, h1{
	margin: 2px 0;
}
.g-link{
	color: white;
	text-decoration: none;
	margin: 0 8px;
	&:hover{
		color: #fca74b;
	}
}
.g-inline{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.g-description{
	font-size: 13px;
  	text-transform: uppercase;
  	font-family: fontFamilyS;
}
.g-float_right{
	float: right;
}
.g-float_left{
	float: left;
}
.g-vAlignMiddle{
	vertical-align: middle;
}
.g-vAlignBottom{
	vertical-align: bottom;
}
.g-lightGray{
	color: lightGray;
}
.g-invisible{
	color: lightGray;
	background-color: #b9b9b9;
	cursor: not-allowed !important;
}
.header__shapeBlock{
	max-height: 60px;
	&__nextHouse{
		font-size: 13px;
		font-style: italic;
		line-height: 1.85;
	}
}
.block__title{
	margin: 60px;
}
.title{
	&__name{
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		margin: 0px 25.9px;
	}
	&__Rectangle-19{
		width: 9px;
  		height: 9px;
  		-webkit-transform: rotate(45deg);
  		transform: rotate(45deg);
  		background-color: darkGray;
	}
	&__rectangle{
		width: 50px;
  		height: 1px;
  		background-color: darkGray;
	}
}
.angle{
	&_1{
	  	transform: translateX(5px);
	}
	&_2{
	  	transform: translateX(-5px);
	}
}