.owl{
	&-prev{
		display: inline-block;
		position: absolute;
		top: 40%;
    	left: -6%;
    }
    &-next{
    	display: inline-block;
		position: absolute;
		top: 40%;
		left: 102%;
    }
}
.owl-item{
	width: 300px;
}
.progress__slider{
	max-width: 767px;
	margin: auto;
	position: relative;
	&_2{
		max-width: 1031px;
	}
}
.owl-carousel{
	margin: auto;
}
.slider__reactangle{
	width: 825px;
    height: 144px;
    border: solid 1px lightGray;
    position: absolute;
    right: -4%;
    top: 12%;
}
.floorsPlan__border{
	max-width: 1476px;
    max-height: 901px;
    border: solid 1px lightGray;
    margin: auto;
}
.floorsPlan__carousel__box{
	max-width: 1476px;
}