.header{
  max-width: 1560px;
  margin: auto;
}
.header__container{
  position:relative;
  width: 1560px;
  height: 721px;
  z-index: 10;
  background: url('../images/1.png') bottom center no-repeat;
  background-size: cover;
  margin: auto;
  color: white;
  &__h1{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
  }
  &__sale{
    font-size: 28px;
    font-weight: bold;
    font-style: italic
  }
  &__opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    &__content{
      position: relative;
      width: 700px;
      margin: 0 auto;
      height: 100%;
      &__text{
        position: absolute;
        text-align: center;
        margin: auto;
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0;
        width: 700px;
        height: 520px;
      }
    }
  }
}
.inner__div{
  &-h1{
    margin: 12% auto;
  }
  &-p{
    margin: 25% auto;
  }
}
.header__container__nav{
  margin: 30% auto 10%;
}
.header__shapeBlock{
  margin: 60px auto;
  &__arrow-left{
    @extend $images--arrow_left;
    margin: 10px;
  }
  &__arrow-right{
    @extend $images--arrow_right;
    margin: 10px;
  }
}
.nav__active{
  box-shadow: 0px 55px 0px -6px rgba(255,255,255,.80);
}