$svg-common 
	background url("sprite.svg") no-repeat

$images--Clouse
	@extend $svg-common
	background-position 0 0
	width 19px
	height 19px

$images--arrow_left
	@extend $svg-common
	background-position 0 13.380281690140846%
	width 36px
	height 16px

$images--arrow_right
	@extend $svg-common
	background-position 0 24.64788732394366%
	width 36px
	height 16px

$images--docs
	@extend $svg-common
	background-position 0 46.36363636363637%
	width 35px
	height 48px

$images--house
	@extend $svg-common
	background-position 0 100%
	width 47px
	height 59px

