@media all and (min-width: 319px) and (max-width: 500px) {
	.test{
		width: 300px;
    	height: 100%;
	}
	.header{
		&__shapeBlock{
    		margin: 15px auto;
    	}
    	&__container{
			width: 300px;
	    	height: 500px;
			&__opacity__content{
				width: 300px;
	    		height: 500px;
	    		&__text{
	    			width: 300px;
	    			height: 500px;
	    		}
			}
			&__h1{
				margin: 20px auto;
			}
		}
		&__shapeBlock__nextHouse{
			display: none;
		}
	}

	.title{
		&__name {
	    	margin: 0px 16.9px;
	    	font-size: 20px
		}
		&__Rectangle-19 {
			width: 5px;
	    	height: 5px;
		}
		&__rectangle {
    		width: 20px;
		}
	}

    .inner{
    	&__div-p {
    		margin: 12% auto;
		}
		&__div-h1{
			margin: 50% auto;
		}
    }
	.header__container{
		&__sale{
    		font-size: 20px;
    	}
    	&__nav{
    		display: none;
    	}
	}
    .declaration{
    	&__info {
    		margin: 20px;
    		background-color: orange;
    		padding: 5px 80px;
    		&__border{
    			padding: 0 20px;
    		}
		}
		&__text-p{
			font-size: 14px;
		}
		&__pic{
			display: none;
		}
    }

	.block__title{
		margin: 15px auto;
	}
	.docs{
		display: none;
	}
	.infrastructure__map {
    	width: 300px;
    	height: 300px;
	}
	.progress__slider {
    	max-width: 300px;
    	margin: auto;
    	position: relative;
	}
	.slider__reactangle {
   		width: 300px;
   		right: 0%;
	}
	.progress__slider .arrow-left {
    	left: 0.5%;
	}
	.progress__slider .arrow-right {
    	left: 88%;
	}
	.flat__status{
		text-align: left
	}
	.flat__status div{
		margin: 10px;
	}
}
@media all and (min-width: 412px) and (max-width: 500px) {
	.test{
		width: 410px;
    	height: 100%;
	}
	.header{
		&__shapeBlock{
    		margin: 15px auto;
    	}
    	&__container{
			width: 410px;
	    	height: 600px;
			&__shapeBlock__nextHouse{
				display: none;
			}
			&__opacity__content{
				width: 410px;
	    		height: 500px;
	    		&__text{
	    			width: 410px;
	    			height: 500px;
	    		}
			}
			&__h1{
				margin: 20px auto;
			}
		}
	}
	.infrastructure__map {
    	width: 410px;
    	height: 400px;
	}
	.progress__slider {
	    max-width: 410px;
	}
	.slider__reactangle {
    	width: 400px;
    	right: 1%;
	}
}